In [9]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load constituents and there tickers.

In [4]:
TICKERS = [
    "AMZN", # Amazon (CONSUMER DISCRETIONARY)
    "V", # Visa (FINANCIALS)
    "BRK-B", # Birkshire Hathaway (FINANCIALS)
    "BMY", # Bristol-Meyers Squibb Company (HEALTH CARE)
    "QCOM", # Qualcomm (INFORMATION TECHNOLOGY)
    "CSCO", # Cisco (INFORMATION TECHNOLOGY)
    "KO", # Coca Cola (CONSUMER STABLES)
    "NEE" #NextEra Energi Inc. (ENERGY)
]

In [8]:
constituents = pd.read_csv(r'S&P 500 Historical Components & Changes.csv')

In [18]:
TICKERS = constituents['tickers'].iloc[-1].split(",")

Fetch the data from Yahoo Finance.

In [23]:
START = "2016-01-01"
END = "2022-01-01"

INTERVAL = "1mo"
stock_data = yf.download(
    tickers = TICKERS[:10],
    start = START,
    end = END,
    interval = INTERVAL
).dropna()['Adj Close']

[*********************100%***********************]  10 of 10 completed

In [24]:
stock_data

,JPM,JWN,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI
Date,,,,,,,,,,
2016-01-01,47.817402,39.532581,56.503155,8.316380,23.400000,56.550674,18.657694,57.226860,99.540329,11.175499
2016-02-01,45.549225,41.320011,56.949383,7.861809,26.090000,55.797253,18.355768,57.867558,100.997566,12.398641
2016-03-01,47.911633,46.062302,59.291676,8.285079,27.740000,56.912899,19.748751,62.707100,104.260803,12.241002
2016-04-01,51.131630,41.457832,59.493042,9.223157,26.080000,56.979176,19.295858,60.235348,97.719650,12.172463
2016-05-01,53.197308,30.795387,57.603153,9.620898,30.629999,60.715984,19.509893,62.810452,99.163712,12.477062
...,...,...,...,...,...,...,...,...,...,...
2021-08-01,150.770248,26.698181,58.325893,18.253481,179.380005,32.678707,19.935482,330.570099,127.249916,14.361730
2021-09-01,154.295624,24.682524,59.593674,19.594801,164.289993,33.806721,18.983995,326.313629,122.291405,14.767776
2021-10-01,160.139801,26.810163,57.151005,21.090239,180.020004,32.952835,20.838976,363.626343,120.538658,14.785432
2021-11-01,150.616730,19.755348,57.039127,20.337990,194.479996,30.859425,20.673004,398.129761,121.301979,13.862459
2021-12-01,150.161530,21.108458,60.610233,21.143396,206.509995,33.334251,22.729237,420.641083,133.040253,14.221125